.side
  .user_section
    .user_image
      %i.fas.fa-user
    %p
      user_name
  %ul.buttons
    %li.button
      %a{ href: "#" } 
        customers
        %i.fas.fa-users
    %li.button
      %a{ href: "#" }
        my account
        %i.fas.fa-cog