.side
  .user_section
    .user_image
      = icon('fas', 'user')
    %p
      user_name
  %ul.buttons
    %li.button
      %a customers
      = icon('fas', 'users')
    %li.button
      %a my account
      = icon('fas', 'cog')

  
