* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  background-color: #e9e9e9;
  .side {
      width: 320px;
      height: calc(100vh - 64px);
      background-color: #0091ff;
    .user_section{
      margin-top: 64px;
      .user_image {
        width: 80px;
        height: 80px;
        text-align: center;
        margin: 0 auto;
        i{
          color: white;
          font-size: 56px;
          text-align: center;
          line-height: 80px;
        }
      }
      p {
        color: white;
        font-size: 16px;
        text-align: center;
      }
    }
    .buttons {
      width: 240px;
      margin: 0 auto ;
      margin-top: 48px;
      .button {
        height: 64px;
        border-bottom: solid 1px white;
        a {
          text-decoration: none;
          color: white;
          padding: 20px 30px;
          display: block;
          i {
            margin-left: 24px;
          }
          .fa-users {
            margin-left: 31px;
          }
        }
        a:hover {
          background-color: #88cbff;
        } 
      }
    }
  }

  .contents {
    width: calc(100% - 320px);
  }
}
